.page-container {
	display: flex;
  flex-direction: column;
  background-color: #111111;
	// height: calc(var(--vh1, 1vh) * 100);
	height: 100%;
	
	position: relative;
	padding-bottom: 20px;;
}

.main-title {
	text-align: center;
}