.page-container {
	display: flex;
  flex-direction: column;
  background-color: black;
	height: calc(var(--vh1, 1vh) * 100);
	
	position: relative;

	background-image: url('./../../assets/logo-white.png');
  background-repeat: no-repeat;
  background-position: center center;
}