:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.name {
  text-align: center;
	font-size: 70px;
	line-height: 1.15;
	margin: 0px;
}

.person-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  .person-img-container {
    .person-img {
      width: 70vw;
      height: 70vw;
      max-width: 400px;
      max-height: 400px;
      object-fit: cover;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
