<div 
  #myCard
  class="card-container"    
>
  <div class="tec-container">
    <div class="image-container">
      <img src="assets/card-icons/{{card.imagName}}" draggable="false">
    </div>
    <h1 class="title">
      {{card.name}}
    </h1>
  </div>
  <div class="reaction-container" [ngClass]="{'hide': cardOverThreshold }">
    <button class="reaction dislike" (click)="trowDislike()">
      <!-- 👎 -->
      😒
    </button>
    <button class="reaction like" (click)="throwLike()">
      <!-- 👍 -->
      😃
    </button>
  </div>
</div>
