<div class="container">

  <div class="top-content">
    <h1 class="title">Computas</h1>

    <p class="info-text">
      Lurer på hvor i Computas du passer inn? Si hva du liker om noen av våre kjerneteknologier så finner vi akkurat hvor du passer inn!
    </p>

  </div>
  <div class="bottom-content">
    <div class="buttons">
      <!-- <button mat-raised-button color="secondary" class="" >Pay to Win</button> -->
      <a mat-raised-button color="primary" class="start-button" (click)="start()" >Start!</a>
    </div>
  </div>
</div>