/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --color-yellow: #fed546;
  --color-red: #ff5f63;
  --color-green: #49bca1;
  --color-blue: #29cff5;
  --color-background: #111111;

  --vh1: 1vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  --font: "Open Sans", sans-serif;
  font-family: var(--font);
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mat-raised-button {
  border-radius: 100px !important;
  padding: 10px 30px !important;
  font-size: 16px !important;
  min-width: 170px !important;
  font-weight: 500;
  letter-spacing: normal;
}

.mat-raised-button.mat-primary {
  background-color: rgba(0, 52, 89, 1);
  color: rgba(41, 207, 245, 1);
}

.mat-raised-button.mat-primary-small {
  background-color: rgba(0, 52, 89, 1);
  color: rgba(41, 207, 245, 1);
  border-radius: 100px !important;
  padding: 5px 5px !important;
  font-size: 16px !important;
  min-width: 70px !important;
}

.mat-raised-button.mat-secondary {
  background-color: white;
  color: rgba(0, 52, 89, 1);
}